<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>{%block Title %}Wiki{%endblock%}</title>
		
		<meta name="author" content="Joan" />
		<!-- Date: 2012-05-07 -->
		<style>
			.error { color: red}
			
		</style>
	</head>
	<body>
	<div class="top-bar">
		
		{%if edit %}
		 <a href="{{HOST_URL}}/wiki/{{namepage}}">view</a>
		{%else %}
			<a href="{{HOST_URL}}/wiki/_edit/{{namepage}}">edit</a>
		{%endif%}
		{%if USER %}
			{{USER.name}} | <a href="{{HOST_URL}}/wiki/logout">logout</a>
		{% else %}
		<a href="{{HOST_URL}}/wiki/login/">login</a>|<a href="{{HOST_URL}}/wiki/signup">signup</a>
		{%endif%}
			
		
	</div>
		{%block Content %}
		<h1>Welcome to the Wiki!</h1>
		{%endblock%}
	</body>
</html>

